bleach==2.0.0
Flask==0.12.1
MarkupSafe==1.0

# python 2.7
typing==3.6.2

# production
gunicorn==19.7.1

# development
flake8==3.5.0
flake8_docstrings==1.1.0
pycodestyle==2.3.1
pylint==1.7.4

# development, test
colorlog==3.1.0
