{% extends "_layout.html" %}

{% block content -%}
<section class="main">
  <div class="grid">
    <div class="head row">
      <h1 class="message">We devel♡p software.</h1>
      <p class="description">We love to help people around us with software development and design work.</p>
    </div>

    <div class="service row">
      <div class="product">
        <h3 class="logo">
          <img class="logo-mark" width="48" height="48" src="{{ get_url(path='img/lecturepad-logo-64x64.png') }}" alt="Lecturepad">
          <span class="logo-type">Lecturepad</span>
        </h3>
        <div class="description">
          <p>TBD&nbsp;<a href="https://codeberg.org/lupine-software?q=lecturepad&sort=recentupdate">(repo)</a></p>
          <p>Lecturepad is a yet another note-taking application for 1 on 1 learning session</p>
        </div>
      </div>

      <hr>

      <h4>Discontinued</h4>

      <div class="product">
        <h3 class="logo">
          <img class="logo-mark" width="46" height="46" src="{{ get_url(path='img/eloquentlog-logo-72x72.png') }}" alt="Eloquentlog">
          <span class="logo-type"><span class="eloquent">Eloquent</span><span class="log">log</span></span>
        </h3>
        <div class="description">
          <p><a title="Eloquentlog" href="https://eloquentlog.com"><strike>https://eloquentlog.com</strike></a>&nbsp;<a href="https://gitlab.com/eloquentlog">(repo)</a></p>
          <p><span>Eloquentlog</span>is a changelog service to get profound impressions by each other.</p>
        </div>
      </div>

      <div class="product">
        <h3 class="logo">
          <img class="logo-mark" width="48" height="48" src="{{ get_url(path='img/scrolliris-logo-64x64.png') }}" alt="Scrolliris">
          <span class="logo-type"><span class="scroll">Scroll</span><span class="iris">iris</span></span>
        </h3>
        <div class="description">
          <p><a title="Scrolliris" href="https://scrolliris.com"><strike>https://scrolliris.com</strike></a>&nbsp;<a href="https://gitlab.com/scrolliris">(repo)</a></p>
          <span>Scrolliris</span>is a text readability analysis application utilizes anonymized data.<br/>
        </div>
      </div>
    </div>
  </div>
</section>
{%- endblock content -%}
