{% extends "_layout.html" %}

{% block content -%}
<section class="main">
  <div class="grid">
    <div class="head row">
      <h3 class="message">We devel♡p software.</h3>
      <p class="description">We love to help people around us with software development and design work.</p>
    </div>

    <div class="service row">
      <div class="title">
        <h4>Our products</h4>
      <div>

      <div class="product">
        <h2 class="logo">
          <img class="logo-mark" width="48" height="48" src="{{ get_url(path='img/lecturepad-logo-64x64.png') }}" alt="Lecturepad">
          <span class="logo-type">Lecturepad</span>
        </h2>
        <p class="description">
          <span class="primary label">in development</span><a href="https://codeberg.org/lupine-software?q=lecturepad&sort=recentupdate">(repo)</a>
          <br/>
          A yet another collaborative note-taking platform using WebRTC.
          This is primarily designed to support the 1:1 language learning sessions.
        </p>
      </div>

      <div class="product">
        <h2 class="logo">
          <img class="logo-mark" width="46" height="46" src="{{ get_url(path='img/eloquentlog-logo-72x72.png') }}" alt="Eloquentlog">
          <span class="logo-type"><span class="eloquent">Eloquent</span><span class="log">log</span></span>
        </h2>
        <p class="description">
          <span class="primary label">in development</span><a title="Eloquentlog" href="https://eloquentlog.com">https://eloquentlog.com</a><a href="https://gitlab.com/eloquentlog">(repo)</a>
          <br/>
          <span>Eloquentlog</span>is a changelog service to get profound impressions by each other. 
        </p>
      </div>

      <div class="product">
        <h2 class="logo">
          <img class="logo-mark" width="48" height="48" src="{{ get_url(path='img/scrolliris-logo-64x64.png') }}" alt="Scrolliris">
          <span class="logo-type"><span class="scroll">Scroll</span><span class="iris">iris</span></span>
        </h2>
        <p class="description">
          <span class="secondary label">discontinued</span><a title="Scrolliris" href="https://scrolliris.com"><strike>https://scrolliris.com</strike></a><a href="https://gitlab.com/scrolliris">(repo)</a>
          <br/>
          <span>Scrolliris</span>is a text readability analysis application utilizes anonymized data.<br/>
          <strike>It's available only for beta users for now. </strike>
        </p>
      </div>
    </div>
  </div>
</section>
{%- endblock content -%}
