body
  background #ffffff
  font-family 'Open Sans', sans-serif
  zoom 100%

header,
footer
  margin-left 0.29rem

footer
  margin-top 2.98rem
  padding-left 0.71rem

.wrapper section
  padding 0.92rem 0.81rem

p
  font-family 'Roboto Slab', sans
  line-height 1.09em

del > a
  text-decoration line-through

h1,
h2,
h3,
h4,
h5,
h6
  font-family 'Open Sans', sans-serif
  font-weight normal


/* header */
header
  .menu
    margin-top 0.81rem
    .item:first-child
      padding-left 0.41rem
    .item:last-child
      display inline-block
      background none
      vertical-align top
      margin-top 0
      padding-top 0.09rem
      padding-right 0.35rem
      margin-top 0.67rem
    .item:not(:last-child)
      padding 0.18rem 0.46rem 0.21rem 0.46rem
      &:hover
        background none
        border-bottom 1px solid darkgray
      &.active
        border-bottom 1px solid lightgray
      &:hover,
      &.active
        padding-bottom 0.11rem
        border-radius 0
        text-decoration none

header .logo
  text-decoration none
  color #666666
  h1
    margin 0.72rem 0 0.62rem 0.22rem
    padding 0
    font-size 1.22em
    font-weight normal
    display inline-block
    vertical-align top
    .logo-mark,
    .logo-type
      display inline-block
    .logo-mark
      margin 0 1.08rem 0 0.54rem
    .logo-type
      font-family 'Open Sans', serif
      font-size 0.998em
      vertical-align top
      margin 0.67rem 0 0 0

.divider
  margin 3.14rem 0
  border-top 1px solid #d3d3d3

/* list */
ul
  padding-left 1.6rem
  margin 0.22rem 0 1.23rem 0
  li
    line-height 1.3em

li > p
  margin 0.08rem 0

/* image */
section.product img
  margin 0 0 0.32rem 0.03rem

section.credential img
  margin 0.71rem 0 0.22rem 0.63rem

/* p, span */
.name,
.role,
.mail,
.date
  display inline-block
  margin 0 0 0 0.32rem

.role,
.date
  color gray
  font-size 85%

p.description
  line-height 1.21rem
  padding-top 0.28rem
  padding-left 0.28rem

/* code */
code
  background-color #444444
  color #d2d2d2
  padding 0.55rem 1.09rem
  border none
  margin 0

address
  font-family monospace
  display block
  font-style normal
  background-color #f0f0f5
  padding 0.62rem 0.86rem
  margin 1.2rem 0

p.note > span.status.warn
  color #ed872d

/* product */
.product h3.message
  font-family 'Roboto Slab', sans-serif
  font-weight bold
  color #454545
  margin 0.9rem 0 3.46rem 0.18rem

/* screenshot */
.screenshot
  margin 1.44rem 0
  .grid
    .row
      > div:first-child
        padding-left 0
  figure
    display inline-block !important
    margin 0.32rem 0 0.48rem 0
    padding 0.86rem 0
    width auto
    img
      display inline-block
      padding 0.3rem
      margin 0 0 0.13rem 0
      border 1px dashed #f5f5f5
      &:hover
        border 1px dashed #333333
    figcaption
      font-size 80%
      color gray

svg.icon
  display inline-block
  margin 0.28rem 0.11rem 0 0.11rem
  padding 0 0 0 0
  vertical-align top
  fill #4e575f

code
  svg.icon
    margin-top 0.09rem

svg.icon.pink
  fill #f45660

svg.icon.orange
  fill #ed872d

svg.icon.white
  fill #f3f3f3

@media only screen and (max-width 480px)
  header
    .menu
      .item
        font-size 0.9em
        padding-left 0
        padding-right 0
        margin-left 0
        margin-right 0
        display block !important
        &:last-child
          padding-top 0
          margin-top 0.13rem
