body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  zoom: 100%;
}

header,
footer {
  margin-left: 0.18rem;
}

header {
  margin-top: 0.42rem;
  padding-left: 0.39rem;
}

footer {
  min-height: 4.3rem;
  margin-top: 2.98rem;
  padding-left: 0.71rem;
}

.wrapper {
  height: 100vh;
}

.grid {
  height: 100%;
}

.grid .row {
  display: block;
}

.wrapper section {
  padding: 0.72rem 1.18rem;
}

.wrapper > .grid > .row.nav {
  background-color: #e3e3e3;
  height: 8.59rem;
}

p {
  font-family: 'Roboto Slab', sans;
  line-height: 1.36em;
}

del > a {
  text-decoration: line-through;
}

a[target="_blank"]:hover {
  text-decoration-style: wavy;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

h3 {
  font-size: 1.12rem;
  margin-top: 1.65rem;
  margin-left: 0.06rem;
}

h4 {
  font-size: 1.06rem;
  margin-top: 1.85rem;
  margin-left: 0.06rem;
  padding-bottom: 0.66rem;
}

h5 {
  padding-top: 0.88rem;
  padding-bottom: 0.41rem;
}

.product {
  margin: 9px 0;
}

/* header */
header .menu {
  margin-top: 0.41rem;
  margin-bottom: 0.22rem;
}

header .menu .item {
  text-decoration: none;
  margin: 0.18rem 0.48rem 0.21rem 0.48rem;
}

header .menu .item:hover {
  background: none;
  border-bottom: 1px solid #898989;
  border-radius: 0;
  margin-bottom: 2px;
  text-decoration: none;
}

header .menu .item.active {
  background: none;
  border-bottom: 1px solid #b9b9b9;
  border-radius: 0;
  margin-bottom: 2px;
  text-decoration: none;
}

header .logo,
header .logo:hover {
  text-decoration: none;
  color: #666666;
}

header h1 {
  margin: 0.22rem 0 0.62rem 0.22rem;
  padding: 0;
  font-size: 1.22em;
  font-weight: normal;
  display: inline-block;
  vertical-align: top;
}

header .logo-mark,
header .logo-type,
.service .logo-mark,
.service .logo-type {
  display: inline-block;
}

header .logo-mark,
.service .logo-mark {
  margin; 0 1.08rem 0 0.94rem;
}

header .logo-type,
.service .logo-type {
  font-family: 'Open Sans', serif;
  font-size: 0.998em;
  vertical-align: top;
  margin: 0.67rem 0 0 1.18rem;
}

.divider {
  margin: 2.44rem 0;
  border-top: 1px solid #d3d3d3;
}

article > section {
  padding-top: 0 !important;
}

article > div {
  margin-left: 1.066rem;
}

/* list */
ul {
  padding-left: 1.6rem;
  margin: 0.22rem 0 1.23rem 0;
}

ul li {
  line-height: 1.3em;
}

li > p {
  margin: 0.08rem 0;
}

/* image */
section.main img {
  margin: 0 0 0.32rem 0.03rem;
}

/* p, span */
.name,
.role,
.mail,
.date {
  display: inline-block;
  margin: 0 0 0 0.32rem;
}

.role,
.date {
  color: gray;
  font-size: 85%;
}

p.description {
  line-height: 1.21rem;
  padding-top: 0.28rem;
}

.service .logo-type {
  margin-top: 1.06rem;
  font-size: 1.09rem;
}

pre {
  background-color: #ffffff !important;
  display: inline-block;
  padding: 0;
  margin: 0;
}

pre span {
  color: #4e575f !important;
}

code {
  border: none;
  padding-left: 0;
  padding-right: 0;
}

/* svg */
.message svg.icon {
  margin: 0.48rem 0.31rem 0 0.31rem;
}

svg.icon {
  display: inline-block;
  margin: 0.28rem 0.18rem 0 0.18rem;
  padding: 0 0 0 0;
  vertical-align: top;
  fill: #4e575f;
}

code svg.icon {
  margin-top: 0.09rem;
}

svg.icon.pink {
  fill: #f45660;
}

svg.icon.orange {
  fill: #ed872d;
}

svg.icon.white {
  fill: #f3f3f3;
}

@media only screen and (max-width 480px) {
  header .menu .item {
    font-size: 0.9em;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    display: block !important;
  }

  header .menu .item:last-child {
    padding-top: 0;
    margin-top: 0.13rem;
  }
}
