<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Lupine Software, LLC">
  <meta name="description" content="The website of Lupine Software, LLC. We develop Scrolliris.">
  <meta name="keywords" content="Lupine Software,Scrolliris">
  <title>Lupine Software</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico', _external=True)}}">
  <link rel="icon" type="image/x-icon" sizes="16x16 32x32 48x48 64x64 96x86 128x128 192x192" href="{{url_for('static', filename='favicon.ico')}}">
  <link rel="icon" type="image/png" sizes="192x192" href="{{url_for('static', filename='img/favicon-192.png')}}">
  <link rel="icon" type="image/png" sizes="128x128" href="{{url_for('static', filename='img/favicon-128.png')}}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{url_for('static', filename='img/favicon-96.png')}}">
  <link rel="icon" type="image/png" sizes="64x64" href="{{url_for('static', filename='img/favicon-64.png')}}">
  <link rel="icon" type="image/png" sizes="48x48" href="{{url_for('static', filename='img/favicon-48.png')}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='img/favicon-32.png')}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='img/favicon-16.png')}}">
  <link rel="author" type="text/plain" href="{{url_for('static', filename='humans.txt')}}">
  <link rel="robots" type="text/plain" href="{{url_for('static', filename='robots.txt')}}">
</head>
<body>
  {% block body %}
  {% endblock %}
</body>
</html>
