<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lupine Software</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <!-- TODO
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  -->
  <link href="/robots.txt" rel="robots" type="text/plain">
  <link href="/humans.txt" rel="author" type="text/plain">
</head>
<body>
  {% block body %}
  {% endblock %}
</body>
</html>
