<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Lupine Software, LLC">
  <meta name="description" content="The website of Lupine Software, LLC. We develop Scrolliris.">
  <meta name="keywords" content="Lupine Software,Scrolliris">
  <title>Lupine Software</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="/favicon.ico">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96.png">
  <link rel="icon" type="image/png" sizes="64x64" href="/favicon-64.png">
  <link rel="icon" type="image/png" sizes="48x48" href="/favicon-48.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png">
  <link href="/robots.txt" rel="robots" type="text/plain">
  <link href="/humans.txt" rel="author" type="text/plain">
</head>
<body>
  {% block body %}
  {% endblock %}
</body>
</html>
