{% extends "_layout.html" %}

{% block body %}
<header>
  <h1>Lupine Software</h1>
  <img class="logo" alt="Lupine Software's Logo" width="120" height="120" src="{{url_for('static', filename='img/lupine-software-logo-300x300.png')}}">
</header>

<section id="main">
  <article class="team">
    <h2>Team</h2>
    <ul>
      <li>
        <span class="name">Yasuhiro Asaka</span>
        <span class="role">Programmer</span>
        <!--<a class="mail" href="mailto:yasuhiro.asaka@lupine-software.com">yasuhiro.asaka@lupine-software.com</a>--></li>
      <li>
        <span class="name">Misaki Asaka</span>
        <span class="role">Designer</span>
        <!--<a class="mail" href="mailto:misaki.asaka@lupine-software.com">misaki.asaka@lupine-software.com</a>--></li>
    </ul>
    <p><a href="{{url_for('static', filename='humans.txt')}}">humans.txt</a></p>
  </article>

  <article class="product">
    <h2>Product</h2>
    <p>
      <a href="https://scrolliris.com/" target="_blank"><img src="{{url_for('static', filename='img/scrolliris-logo-64x64.png')}}"></a><br><a href="https://scrolliris.com/" target="_blank">Scrolliris</a>
      <span class="desc">(A publication platform which utilizes text readability analysis and/or its browser widget)</span></p>
    <p>Comming soon, Stay tuned!</p>
    <div class="screenshot">
      <h3>Screenshots from Prototype</h3>
      <figure>
        <a href="{{url_for('static', filename='img/scrolliris-reader-view-sample-20170611.png')}}" target="_blank">
          <img src="{{ url_for('static', filename='img/scrolliris-reader-view-sample-20170611-thumb.png')}}" width="200" alt="Scrolliris - reader's view example">
          <figcaption>Fig0. - Scrolliris reader's view sample</figcaption>
        </a>
      </figure>
      <figure>
        <a href="{{url_for('static', filename='img/scrolliris-author-view-sample-20170611.png')}}" target="_blank">
          <img src="{{ url_for('static', filename='img/scrolliris-author-view-sample-20170611-thumb.png')}}" width="200" alt="Scrolliris - author's view example">
          <figcaption>Fig1. - Scrolliris author's view sample</figcaption>
        </a>
      </figure>
      <figure>
        <a href="{{url_for('static', filename='img/scrolliris-minimap-widget-sample-20170710.png')}}" target="_blank">
          <img src="{{ url_for('static', filename='img/scrolliris-minimap-widget-sample-20170710-thumb.png')}}" width="200" alt="Scrolliris - reading heat-minimap widget sample">
          <figcaption>Fig2. - Scrolliris reading heat-minimap widget sample</figcaption>
        </a>
      </figure>
    </div>
    <div class="newsletter">
     <form action="https://tinyletter.com/scrolliris" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/scrolliris', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
       <p>Subscribe <a href="http://tinyletter.com/scrolliris">Newsletter</a> from us.<br>
         <label for="tlemail">Enter your email address.</label>
         <span class="link">(powered by <a href="https://tinyletter.com" target="_blank">TinyLetter</a>)</span>
       </p>
       <input type="text" name="email" id="tlemail" />
       <input type="hidden" value="1" name="embed"/>
       <input type="submit" value="Subscribe" />
    </form>
    </div>
  </article>

  <article class="mission">
    <h2>Mission</h2>
    <p>We encourage authors to write longer texts on the web,<br>
      and support to improve reading experience of their texts.</p>
  </article>

  <article class="progress">
    <h2>Progress</h2>
    <ul>
      <li>Register a domain (lupine-software.com)<span class="date">(2017-06-04)</span></li>
      <li>Register a domain (scrolliris.com)<span class="date">(2017-06-04)</span></li>
      <li>Publish a pitch video<span class="date">(2017-06-16)</span></li>
      <li>Get architecture review from friends<span class="date">(2017-06-29)</span></li>
      <li>Incorporate Lupine Software LLC<span class="date">(2017-07-07)</span></li>
      <li>Register a domain (scrolliris.io)<span class="date">(2017-07-08)</span></li>
      <li>Private beta test<span class="date">(2017-07-12, 13)</span>
      <li>Create logo<span class="date">(2017-07-19)</span>
      <li>Release BETA version<span class="date">(<del>2017-07-14</del>)</span>
        <p class="desc">
          <span class="status warn">Delay</span>: It's little bit delay... We're working on performance improvements to serve an api for users in Europe and East Asia both.
        </p>
      </li>
    </ul>
  </article>

  <article class="credential">
    <h2>Credential</h2>
    <a href="https://www.credential.net/xudv118k" target="_blank">
      <img src="https://dl.grauwoelfchen.net/file/lupine-software/lupine-software-startup-school-badge-by-ycombinator-149782470388.png" width="60" height="60" alt="The Certificate of Startup School by Y Combinator">
    </a>
    <p>We are a guraduate of <a href="https://www.startupschool.org/" target="_blank">Startup School</a> by Y Combinator (SUS2017).<br>
       <a href="https://www.startupschool.org/presentations/199">Our pitch video presentation</a> is live in their site as virtual presentation day.</p>
  </article>

  <article>
    <h2>Contact</h2>
    <p><a class="mail" href="mailto:feedback@lupine-software.com">feedback&#64;lupine-software.com</a></p>
  </article>
</section>

<footer>
  <p><a href="http://status.lupine-software.com/" target="_blank">Server status</a></p>
  <p><a href="https://gitlab.com/lupine-software/lutece">AGPL</a>,&copy;&nbsp;2017 Lupine Software LLC</p>
</footer>
{% endblock %}
