{% extends "_layout.html" %}

{% block body %}
<section class="contact">
  <h5>Any Questions?</h5>
  <p class="description">We're very happy to hear from you ;)<br>
    We can respond in English, German, Swiss German and Japanese.</p>
  <a class="email" href="mailto:feedback@lupine-software.com">
    <code>
      <svg class="tiny icon white" viewBox="0 0 8 8" width="16" height="16" role="img" aria-label="[title]">
        <title>develop</title>
        <use xlink:href="#open-iconic.min_envelope-closed" class="icon-envelope"></use>
      </svg>
      feedback&#64;lupine-software.com</code></a>
</section>
{% endblock %}
