{% extends "_layout.html" %}

{% block body %}
<section class="history">
  <h5>Overview</h5>
  <div class="grid">
    <div class="row">
      <span class="primary label">Scrolliris</span>
      <p class="note">
        <span class="status warn">Released!</span>&nbsp;Currently only limited features are available ;-)
      </p>
      <ul>
        <li>Newsletter #2 is issued, see <a href="https://tinyletter.com/scrolliris/archive">Archives</a><span class="date">(2017-10-31)</span></li>
        <li><a href="https://log.scrolliris.com/">Changelog site</a> is live<span class="date">(2017-10-03)</span></li>
        <li>Newsletter #1 is issued, see <a href="https://tinyletter.com/scrolliris/archive">Archives</a><span class="date">(2017-09-30)</span></li>
        <li>Get feature renew product concept <a href="https://try.scrolliris.com/">Demo</a><span class="date">(2017-09-24)</span></li>
        <li>Gain a first customer in Switzerland<span class="date">(2017-09-07)</span></li>
        <li>Public beta version<span class="date">(<del>2017-07-14</del> → 2017-09-01)</span></li>
        <li>Get review from early adaptors and friends in Switzerland<span class="date">(2017-08-22 - 2017-09-4)</span></li>
        <li>Create logo<span class="date">(2017-07-19)</span>
        <li>Private beta test<span class="date">(2017-07-12, 13)</span>
        <li>Register a domain (scrolliris.io)<span class="date">(2017-07-08)</span></li>
        <li>Get architecture review from friends in Japan<span class="date">(2017-06-29)</span></li>
        <li>Publish a pitch video<span class="date">(2017-06-16)</span></li>
        <li>Register a domain (scrolliris.com)<span class="date">(2017-06-04)</span></li>
      </ul>
    </div>

    <div class="divider"></div>

    <div class="row">
      <span class="secondary label">Firm</span>
      <p class="note"></p>
      <ul>
        <li>Gain a web design work from customer<span class="date">(2017-09-24)</span></li>
        <li>Submit patent about mechanism of text readability in Japan<span class="date">(2017-09-09)</span></li>
        <li>Create logo<span class="date">(2017-07-19)</span>
        <li>Incorporate Lupine Software LLC<span class="date">(2017-07-07)</span></li>
        <li>Register a domain (lupine-software.com)<span class="date">(2017-06-04)</span></li>
      </ul>
    </div>
  </div>
</section>
{% endblock %}
