{% extends "_layout.html" %}

{% block body %}
<section class="philosophy">
  <div class="grid">
    <div class="row">
      <div class="policy">
        <h5 class="title">We
          <svg class="tiny icon pink" viewBox="0 0 8 8" width="16" height="16" role="img" aria-label="[title]">
            <title>love</title>
            <use xlink:href="#open-iconic.min_heart" class="icon-heart"></use>
          </svg> Transparency</h5>
        <p class="description">All our software and work is online as free software based on this policy. We love free software philosophy and open source movement.
          Check out our repositories on GitLab.com.</p>

        <ul>
          <li><a href="https://gitlab.com/lupine-software">Lupine Software</a></li>
          <li><a href="https://gitlab.com/scrolliris">Scrolliris</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="mission">
        <h5 class="title">Mission</h5>
        <span class="primary label">Scrolliris</span>
        <p class="description">We encourage authors to write longer texts on the web,<br>
          and support to improve reading experience of their texts.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
